
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <span>/@ViewBag.controller/@ViewBag.action</span>
    </div>
</body>
</html>

