@model ASP_NET_MVC_Q6.Models.RouteDataValues
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <span>/@Model.RouteController/@Model.RouteAction</span>
    </div>
</body>
</html>

