
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        <span>/@ViewBag.area/@ViewBag.controller/@ViewBag.action/@ViewBag.Id</span>
    </div>
</body>
</html>
